# Welcome to the Police Station Lab Computer

Let's use the computer, and the data it contains, to see if we can't crack this mystery.

## First Visit

### Gathering Information on Addresses to interview the person who left before the gunshots were heard!

First thing to do, is load up the people `.csv` - we'll notice that it's separated by tabs (`\t`) and there's some comments (`#`), so let's take those into consideration. 

Then, let's look at the `.head()`!

In [1]:
import pandas as pd

people_dataframe = pd.read_csv('./data/people/people.csv', comment='#', sep='\t')
people_dataframe.head()

             name gender  age                    address
0  Alicia Fuentes      F   48    Walton Street, line 433
1   Jo-Ting Losev      F   46  Hemenway Street, line 390
2   Elena Edmonds      F   58   Elmwood Avenue, line 123
3  Naydene Cabral      F   46  Winthrop Street, line 454
4  Dato Rosengren      M   22    Mystic Street, line 477

In [2]:
!cat crimescene_clues.txt

CLUE: Footage from an ATM security camera is blurry but shows that the perpetrator is a tall male, at least 6'.
CLUE: Found a wallet believed to belong to the killer: no ID, just loose change, and membership cards for AAA, Delta SkyMiles, the local library, and the Museum of Bash History. The cards are totally untraceable and have no name, for some reason.
CLUE: Questioned the barista at the local coffee shop. He said a woman left right before they heard the shots. The name on her latte was Annabel, she had blond spiky hair and a New Zealand accent.

Let's use some indexing to find out if we can narrow this list down!

In [3]:
people_dataframe

                       name gender  age                    address
0            Alicia Fuentes      F   48    Walton Street, line 433
1             Jo-Ting Losev      F   46  Hemenway Street, line 390
2             Elena Edmonds      F   58   Elmwood Avenue, line 123
3            Naydene Cabral      F   46  Winthrop Street, line 454
4            Dato Rosengren      M   22    Mystic Street, line 477
...                     ...    ...  ...                        ...
5016         Xiaodong Dulko      F   69    Homewood Road, line 242
5017              Ivan Radu      M   29    Clinton Place, line 181
5018  Christopher Sadauskas      M   86  Lancaster Street, line 47
5019        Lizeth Coertzen      F   58  Greenock Street, line 402
5020    Alexander Heffernan      M   43  Oleander Street, line 147

[5021 rows x 4 columns]

In [4]:
### START CODE HERE ###

# be sure to include the information in the format provided from the DataFrame above!
potential_interviewees = people_dataframe[(people_dataframe['name'].str.contains('Annabel')) & (people_dataframe['gender'] == 'F')]

### END CODE HERE ###

potential_interviewees.head()

                name gender  age                     address
269      Annabel Sun      F   26         Hart Place, line 40
1661  Annabel Church      F   38  Buckingham Place, line 179

In [5]:
### START CODE HERE ###

# be sure to include the information in the format provided from the DataFrame above!
potential_interviewees = people_dataframe[(people_dataframe['age']>65) & (people_dataframe['gender'] == 'M')]

### END CODE HERE ###

potential_interviewees.head()

                    name gender  age                         address
6          Emiliano Wenk      M   90       Paulding Street, line 490
7            Larry Lapin      M   71           Atwill Road, line 298
10  Jens Tuimalealiifano      M   83       Rockwood Street, line 205
11          Nikola Kadhi      M   75      Glenville Avenue, line 226
13     Njisane Arkhipova      M   73  Charles River Avenue, line 459

### Time for more investigation!

You'll need to hit the streets before you can pull up any relevant interviews, come back when you've knocked on the doors on the addresses you found!

## Second Visit

### Checking out the interviews

Now that you have the interviews you want to check out, let's see what they say!

We'll use the `glob`, and `os` standard library to collect all the data together into a usable format

In [8]:
import os 
import glob

files = os.path.join('./data/interviews/', '*')
files = glob.glob(files)

In [9]:
files

['./data/interviews/interview-40610944',
 './data/interviews/interview-704443',
 './data/interviews/interview-229443',
 './data/interviews/interview-728181',
 './data/interviews/interview-68764140',
 './data/interviews/interview-796439',
 './data/interviews/interview-1108561',
 './data/interviews/interview-94126412',
 './data/interviews/interview-7863761',
 './data/interviews/interview-0953437',
 './data/interviews/interview-305694',
 './data/interviews/interview-645385',
 './data/interviews/interview-73585672',
 './data/interviews/interview-498331',
 './data/interviews/interview-79411932',
 './data/interviews/interview-11817172',
 './data/interviews/interview-2922290',
 './data/interviews/interview-93473333',
 './data/interviews/interview-676473',
 './data/interviews/interview-223913',
 './data/interviews/interview-706620',
 './data/interviews/interview-496772',
 './data/interviews/interview-4673074',
 './data/interviews/interview-6884359',
 './data/interviews/interview-457117',
 './data/interviews/interview-87126591',
 './data/interviews/interview-862173',
 './data/interviews/interview-255531',
 './data/interviews/interview-86395001',
 './data/interviews/interview-1642421',
 './data/interviews/interview-720268',
 './data/interviews/interview-11705111',
 './data/interviews/interview-659803',
 './data/interviews/interview-1269181',
 './data/interviews/interview-789564',
 './data/interviews/interview-45615686',
 './data/interviews/interview-7998181',
 './data/interviews/interview-48148020',
 './data/interviews/interview-03098229',
 './data/interviews/interview-1857368',
 './data/interviews/interview-1933118',
 './data/interviews/interview-259909',
 './data/interviews/interview-34041151',
 './data/interviews/interview-020337',
 './data/interviews/interview-00502304',
 './data/interviews/interview-325611',
 './data/interviews/interview-901603',
 './data/interviews/interview-99643550',
 './data/interviews/interview-04393507',
 './data/interviews/interview-65792229',
 './data/interviews/interview-353218',
 './data/interviews/interview-97409610',
 './data/interviews/interview-849256',
 './data/interviews/interview-911451',
 './data/interviews/interview-75434722',
 './data/interviews/interview-25834905',
 './data/interviews/interview-70067280',
 './data/interviews/interview-8402388',
 './data/interviews/interview-6894000',
 './data/interviews/interview-55841398',
 './data/interviews/interview-1643440',
 './data/interviews/interview-179719',
 './data/interviews/interview-16889008',
 './data/interviews/interview-9912172',
 './data/interviews/interview-528044',
 './data/interviews/interview-4765278',
 './data/interviews/interview-7305678',
 './data/interviews/interview-825165',
 './data/interviews/interview-901645',
 './data/interviews/interview-253705',
 './data/interviews/interview-9824821',
 './data/interviews/interview-637657',
 './data/interviews/interview-125204',
 './data/interviews/interview-604403',
 './data/interviews/interview-879569',
 './data/interviews/interview-7959148',
 './data/interviews/interview-391811',
 './data/interviews/interview-0768255',
 './data/interviews/interview-17827186',
 './data/interviews/interview-4366523',
 './data/interviews/interview-862717',
 './data/interviews/interview-77014856',
 './data/interviews/interview-3804339',
 './data/interviews/interview-982013',
 './data/interviews/interview-7103823',
 './data/interviews/interview-591273',
 './data/interviews/interview-794525',
 './data/interviews/interview-466195',
 './data/interviews/interview-9501580',
 './data/interviews/interview-54851634',
 './data/interviews/interview-40534453',
 './data/interviews/interview-13889608',
 './data/interviews/interview-351963',
 './data/interviews/interview-3128999',
 './data/interviews/interview-9446528',
 './data/interviews/interview-755037',
 './data/interviews/interview-41553314',
 './data/interviews/interview-999372',
 './data/interviews/interview-980963',
 './data/interviews/interview-70458099',
 './data/interviews/interview-5774468',
 './data/interviews/interview-27504937',
 './data/interviews/interview-6203192',
 './data/interviews/interview-2601508',
 './data/interviews/interview-833367',
 './data/interviews/interview-944493',
 './data/interviews/interview-44533008',
 './data/interviews/interview-1578206',
 './data/interviews/interview-70199425',
 './data/interviews/interview-822576',
 './data/interviews/interview-608607',
 './data/interviews/interview-92670500',
 './data/interviews/interview-00805135',
 './data/interviews/interview-0732631',
 './data/interviews/interview-000296',
 './data/interviews/interview-891720',
 './data/interviews/interview-306616',
 './data/interviews/interview-95601730',
 './data/interviews/interview-37747405',
 './data/interviews/interview-29838622',
 './data/interviews/interview-871877',
 './data/interviews/interview-016463',
 './data/interviews/interview-322305',
 './data/interviews/interview-06032377',
 './data/interviews/interview-347303',
 './data/interviews/interview-917210',
 './data/interviews/interview-2415821',
 './data/interviews/interview-673985',
 './data/interviews/interview-155049',
 './data/interviews/interview-409731',
 './data/interviews/interview-0613334',
 './data/interviews/interview-60081985',
 './data/interviews/interview-54619323',
 './data/interviews/interview-98912259',
 './data/interviews/interview-63308519',
 './data/interviews/interview-71186817',
 './data/interviews/interview-34359897',
 './data/interviews/interview-5143029',
 './data/interviews/interview-91673757',
 './data/interviews/interview-275706',
 './data/interviews/interview-90394637',
 './data/interviews/interview-3871242',
 './data/interviews/interview-3588302',
 './data/interviews/interview-81443363',
 './data/interviews/interview-927642',
 './data/interviews/interview-2481877',
 './data/interviews/interview-39481114',
 './data/interviews/interview-32365018',
 './data/interviews/interview-4223536',
 './data/interviews/interview-699607',
 './data/interviews/interview-9969223',
 './data/interviews/interview-18193261',
 './data/interviews/interview-54026669',
 './data/interviews/interview-9709892',
 './data/interviews/interview-159848',
 './data/interviews/interview-780255',
 './data/interviews/interview-02422821',
 './data/interviews/interview-0234126',
 './data/interviews/interview-114661',
 './data/interviews/interview-6933068',
 './data/interviews/interview-566707',
 './data/interviews/interview-9346061',
 './data/interviews/interview-730123',
 './data/interviews/interview-332596',
 './data/interviews/interview-58910793',
 './data/interviews/interview-4335306',
 './data/interviews/interview-00617019',
 './data/interviews/interview-16098538',
 './data/interviews/interview-485229',
 './data/interviews/interview-416243',
 './data/interviews/interview-79935965',
 './data/interviews/interview-628618',
 './data/interviews/interview-1310392',
 './data/interviews/interview-18441251',
 './data/interviews/interview-5766907',
 './data/interviews/interview-509105',
 './data/interviews/interview-42934869',
 './data/interviews/interview-861780',
 './data/interviews/interview-737609',
 './data/interviews/interview-8421696',
 './data/interviews/interview-092423',
 './data/interviews/interview-448086',
 './data/interviews/interview-7254073',
 './data/interviews/interview-23371263',
 './data/interviews/interview-84688694',
 './data/interviews/interview-284560',
 './data/interviews/interview-36527398',
 './data/interviews/interview-865918',
 './data/interviews/interview-331178',
 './data/interviews/interview-0315125',
 './data/interviews/interview-75633580',
 './data/interviews/interview-53318557',
 './data/interviews/interview-56892213',
 './data/interviews/interview-831512',
 './data/interviews/interview-3201508',
 './data/interviews/interview-2846076',
 './data/interviews/interview-344331',
 './data/interviews/interview-55435298',
 './data/interviews/interview-71298441',
 './data/interviews/interview-1205060',
 './data/interviews/interview-55410365',
 './data/interviews/interview-289524',
 './data/interviews/interview-364735',
 './data/interviews/interview-856221',
 './data/interviews/interview-243703',
 './data/interviews/interview-32712166',
 './data/interviews/interview-33399976',
 './data/interviews/interview-0251720',
 './data/interviews/interview-044492',
 './data/interviews/interview-2995681',
 './data/interviews/interview-9901455',
 './data/interviews/interview-97043057',
 './data/interviews/interview-8586380',
 './data/interviews/interview-920304',
 './data/interviews/interview-499096',
 './data/interviews/interview-68488577',
 './data/interviews/interview-9620713',
 './data/interviews/interview-7066082',
 './data/interviews/interview-838259',
 './data/interviews/interview-6808205',
 './data/interviews/interview-14153840',
 './data/interviews/interview-8531248',
 './data/interviews/interview-5905106',
 './data/interviews/interview-34690644',
 './data/interviews/interview-538900',
 './data/interviews/interview-312546',
 './data/interviews/interview-066291',
 './data/interviews/interview-50291987',
 './data/interviews/interview-301018',
 './data/interviews/interview-9618669',
 './data/interviews/interview-8245680',
 './data/interviews/interview-17248453',
 './data/interviews/interview-29316965',
 './data/interviews/interview-0462097',
 './data/interviews/interview-0349327',
 './data/interviews/interview-703831',
 './data/interviews/interview-4950099',
 './data/interviews/interview-8387710',
 './data/interviews/interview-638121',
 './data/interviews/interview-514793',
 './data/interviews/interview-2939888',
 './data/interviews/interview-290346',
 './data/interviews/interview-938991',
 './data/interviews/interview-1250176',
 './data/interviews/interview-4299898',
 './data/interviews/interview-791289',
 './data/interviews/interview-13920860',
 './data/interviews/interview-41814745',
 './data/interviews/interview-2976680',
 './data/interviews/interview-3140662',
 './data/interviews/interview-14590717',
 './data/interviews/interview-8631232',
 './data/interviews/interview-353467',
 './data/interviews/interview-3917097',
 './data/interviews/interview-26373485',
 './data/interviews/interview-36398447',
 './data/interviews/interview-2834518',
 './data/interviews/interview-250112',
 './data/interviews/interview-6643191',
 './data/interviews/interview-00448418',
 './data/interviews/interview-1823688',
 './data/interviews/interview-109118',
 './data/interviews/interview-5372865',
 './data/interviews/interview-1395414',
 './data/interviews/interview-9004767',
 './data/interviews/interview-5993978',
 './data/interviews/interview-42396365',
 './data/interviews/interview-4463090',
 './data/interviews/interview-3871205',
 './data/interviews/interview-67790846',
 './data/interviews/interview-565396',
 './data/interviews/interview-71993338',
 './data/interviews/interview-342393',
 './data/interviews/interview-4735823',
 './data/interviews/interview-11495001',
 './data/interviews/interview-9712946',
 './data/interviews/interview-50168425',
 './data/interviews/interview-071537',
 './data/interviews/interview-4262657',
 './data/interviews/interview-022751',
 './data/interviews/interview-38299069',
 './data/interviews/interview-2326746',
 './data/interviews/interview-279087',
 './data/interviews/interview-896668',
 './data/interviews/interview-9728756',
 './data/interviews/interview-71226767',
 './data/interviews/interview-38899905',
 './data/interviews/interview-340396',
 './data/interviews/interview-3099757',
 './data/interviews/interview-102490',
 './data/interviews/interview-7580872',
 './data/interviews/interview-618764',
 './data/interviews/interview-69170457',
 './data/interviews/interview-2642139',
 './data/interviews/interview-478217',
 './data/interviews/interview-116803',
 './data/interviews/interview-376115',
 './data/interviews/interview-8095917',
 './data/interviews/interview-904020',
 './data/interviews/interview-3824641',
 './data/interviews/interview-27042476',
 './data/interviews/interview-57236791',
 './data/interviews/interview-096267',
 './data/interviews/interview-125271',
 './data/interviews/interview-3049045',
 './data/interviews/interview-8819490',
 './data/interviews/interview-4225866',
 './data/interviews/interview-144873',
 './data/interviews/interview-6093093',
 './data/interviews/interview-049721',
 './data/interviews/interview-5835471',
 './data/interviews/interview-354262',
 './data/interviews/interview-541518',
 './data/interviews/interview-95095182',
 './data/interviews/interview-1186827',
 './data/interviews/interview-707438',
 './data/interviews/interview-141030',
 './data/interviews/interview-19577850',
 './data/interviews/interview-42161907',
 './data/interviews/interview-809922',
 './data/interviews/interview-7541406',
 './data/interviews/interview-15354942',
 './data/interviews/interview-770439',
 './data/interviews/interview-39825862',
 './data/interviews/interview-529706',
 './data/interviews/interview-55477243',
 './data/interviews/interview-31635890',
 './data/interviews/interview-579105',
 './data/interviews/interview-92391023',
 './data/interviews/interview-5455315',
 './data/interviews/interview-1767435',
 './data/interviews/interview-8700943',
 './data/interviews/interview-6417794',
 './data/interviews/interview-9074626',
 './data/interviews/interview-5782759',
 './data/interviews/interview-9651888',
 './data/interviews/interview-1536668',
 './data/interviews/interview-233800',
 './data/interviews/interview-708943',
 './data/interviews/interview-29741223',
 './data/interviews/interview-66101490',
 './data/interviews/interview-9185205',
 './data/interviews/interview-812725',
 './data/interviews/interview-23167806',
 './data/interviews/interview-1850922',
 './data/interviews/interview-55984022',
 './data/interviews/interview-77135281',
 './data/interviews/interview-73035802',
 './data/interviews/interview-549055',
 './data/interviews/interview-52280505',
 './data/interviews/interview-68195573',
 './data/interviews/interview-147283',
 './data/interviews/interview-66282920',
 './data/interviews/interview-48088300',
 './data/interviews/interview-191206',
 './data/interviews/interview-034070',
 './data/interviews/interview-555536',
 './data/interviews/interview-30259493',
 './data/interviews/interview-8464899',
 './data/interviews/interview-15187437',
 './data/interviews/interview-1906958',
 './data/interviews/interview-291440',
 './data/interviews/interview-7180973',
 './data/interviews/interview-74225310',
 './data/interviews/interview-9437737',
 './data/interviews/interview-9711852',
 './data/interviews/interview-218131',
 './data/interviews/interview-4961376',
 './data/interviews/interview-25582311',
 './data/interviews/interview-1811770',
 './data/interviews/interview-17343208',
 './data/interviews/interview-324389',
 './data/interviews/interview-221039',
 './data/interviews/interview-210355',
 './data/interviews/interview-296128',
 './data/interviews/interview-2058907',
 './data/interviews/interview-476744',
 './data/interviews/interview-07497003',
 './data/interviews/interview-9332386',
 './data/interviews/interview-305949',
 './data/interviews/interview-7046684',
 './data/interviews/interview-67279454',
 './data/interviews/interview-19300543',
 './data/interviews/interview-56784802',
 './data/interviews/interview-7791374',
 './data/interviews/interview-680549',
 './data/interviews/interview-457451',
 './data/interviews/interview-05297663',
 './data/interviews/interview-535181',
 './data/interviews/interview-55382746',
 './data/interviews/interview-79667499',
 './data/interviews/interview-7469675',
 './data/interviews/interview-29680692',
 './data/interviews/interview-32639981',
 './data/interviews/interview-9408565',
 './data/interviews/interview-6553472',
 './data/interviews/interview-97393699',
 './data/interviews/interview-03316077',
 './data/interviews/interview-13768464',
 './data/interviews/interview-7422077',
 './data/interviews/interview-11783660',
 './data/interviews/interview-47246024',
 './data/interviews/interview-504687',
 './data/interviews/interview-3609204',
 './data/interviews/interview-2277882',
 './data/interviews/interview-5581158',
 './data/interviews/interview-637928',
 './data/interviews/interview-174898',
 './data/interviews/interview-483817',
 './data/interviews/interview-9666149',
 './data/interviews/interview-4204949',
 './data/interviews/interview-992072',
 './data/interviews/interview-907126',
 './data/interviews/interview-46773428',
 './data/interviews/interview-3074127',
 './data/interviews/interview-93696502',
 './data/interviews/interview-5739404',
 './data/interviews/interview-005702',
 './data/interviews/interview-85262552',
 './data/interviews/interview-79360358',
 './data/interviews/interview-867999',
 './data/interviews/interview-586668',
 './data/interviews/interview-82705993',
 './data/interviews/interview-280877',
 './data/interviews/interview-18270219']

Now that we've collected the files neatly, let's comb through them looking for the interviews we want to check!

In [11]:
### START CODE HERE ###

interview_nums = [
    "47246024",
    "699607"
]

### END CODE HERE ###

for file in files:
    if file.split('-')[1] in interview_nums:
        with open(file, 'r') as f:
            print(f'---- Interview # {file.split("-")[1]} ----')
            print(f.read())
            print('\n')

---- Interview # 699607 ----
Interviewed Ms. Church at 2:04 pm.  Witness stated that she did not see anyone she could identify as the shooter, that she ran away as soon as the shots were fired.

However, she reports seeing the car that fled the scene.  Describes it as a blue Honda, with a license plate that starts with "L337" and ends with "9"



---- Interview # 47246024 ----
Ms. Sun has brown hair and is not from New Zealand.  Not the witness from the cafe.

Let's take note of that information, and check the vehicle database to see if we can find a suspect!

### Checking the Vehicle Database

Now that we have some more information, we should be able to put the facts we've figured out thusfar together to get a suspect!

Let's start by looking through the vehicle data!

In [13]:
!ls

crimescene	      data		lab_computer.ipynb
crimescene_clues.txt  helper_functions	software-dev-for-ml-101

In [14]:
### START CODE HERE ###

vehicle_dataframe = pd.read_csv('data/vehicles/vehicles.csv', index_col=0)

### END CODE HERE ###

vehicle_dataframe.head()

,License Plate,Make,Color,Owner,Owner Height,Owner Weight (lbs.)
0,T3YUHF6,Toyota,Yellow,Jianbo Megannem,"5'6""",246
1,EZ21ECE,BMW,Gold,Norbert Feldwehr,"5'3""",205
2,CQN2TJE,Mazda,Red,Alexandra Jokinen,"5'11""",227
3,D875IMS,Cadillac,Orange,Thi Kostadinov,"5'11""",198
4,Q0SK1KP,Cadillac,Red,Sidni Sze,"5'9""",199

We know the make and colour the suspect drove while leaving Pandas Express, thanks to the interview, and we also know the suspects height! We also know some information about the suspects license plate! 

Let's combine all this information and see what we can learn!

In [15]:
### START CODE HERE ###

# be sure to include the information in the format provided from the DataFrame above!
vehicle_suspects_dataframe = vehicle_dataframe[
    (vehicle_dataframe['Make'] == 'Honda') & 
    (vehicle_dataframe['Color'] == 'Blue') & 
    (vehicle_dataframe['License Plate'].str.startswith('L337')) &
    (vehicle_dataframe['License Plate'].str.endswith('9')) &
    (vehicle_dataframe['Owner Height'].str.startswith('6'))
]

### END CODE HERE ###

vehicle_suspects_dataframe.head()

,License Plate,Make,Color,Owner,Owner Height,Owner Weight (lbs.)
1023,L337QE9,Honda,Blue,Erika Owens,"6'5""",220
3547,L337DV9,Honda,Blue,Joe Germuska,"6'2""",164
4546,L3375A9,Honda,Blue,Jeremy Bowers,"6'1""",204
4901,L337WR9,Honda,Blue,Jacqui Maher,"6'2""",130

There we have it, a narrowed list of names - let's see if we can fit the final clue into the picture in order to wrap this case up!

### Gathering Information on Memberships

We have data from the following memberships on file:

1. `AAA`
2. `AAdvantage`
3. `Costco`
4. `Delta_SkyMiles`
5. `Fitness_Galaxy`
6. `Museum_of_Bash_History`
7. `REI`
8. `Rotary_Club`
9. `TCSU_Alumni_Association`
10. `Terminal_City_Library`
11. `United_MileagePlus`

From the evidence collected, input the memberships that the suspect held.

In [16]:
### START CODE HERE ###

# Be sure to include all of the suspects memberships in the format provided above!
memberships = [
    "AAA",
    "Museum_of_Bash_History",
    "Terminal_City_Library",
    "Delta_SkyMiles",
]

### END CODE HERE ###

memberships = list(map(lambda x: f"{x}.csv", memberships))

We're going to be using a combination of `glob` and `os` again! Because those libraries should already be imported, we doon't need to import them again!

In [17]:
files = os.path.join('./data/memberships/', '*.csv')
files = glob.glob(files)
print(files)

['./data/memberships/TCSU_Alumni_Association.csv', './data/memberships/Delta_SkyMiles.csv', './data/memberships/United_MileagePlus.csv', './data/memberships/Museum_of_Bash_History.csv', './data/memberships/Rotary_Club.csv', './data/memberships/Costco.csv', './data/memberships/Fitness_Galaxy.csv', './data/memberships/REI.csv', './data/memberships/AAdvantage.csv', './data/memberships/AAA.csv', './data/memberships/Terminal_City_Library.csv']

Next we'll combine these `.csv` files together into a list of `pandas.DataFrame`s (read more about those [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html))

In [18]:
membership_dataframe_list = [pd.read_csv(file) for file in files if file.endswith(tuple(memberships))]

Now, we'll find the intersection of the memberships using `pandas.merge` (read about it [here](https://pandas.pydata.org/docs/reference/api/pandas.merge.html)) on the list of dataframes.

We're using `reduce` from functools (read about it [here](https://www.geeksforgeeks.org/reduce-in-python/)) to perform the `pandas.merge` operation on a number of `pandas.DataFrame`s.

In [19]:
from functools import reduce

membership_suspects_dataframe = reduce(lambda x, y: pd.merge(x, y, how='inner'), membership_dataframe_list)

### Putting it all together

Alright, now that we have our vehicle suspects, our membership suspects, as well as the database of people - let's put this all together and see what we can find!

First step is to merge the two suspect lists to narrow it down.

In [20]:
merged_suspect_dataframe = pd.merge(vehicle_suspects_dataframe, membership_suspects_dataframe, left_on='Owner', right_on='names')
merged_suspect_dataframe.head()

,License Plate,Make,Color,Owner,Owner Height,Owner Weight (lbs.),names
0,L3375A9,Honda,Blue,Jeremy Bowers,"6'1""",204,Jeremy Bowers
1,L337WR9,Honda,Blue,Jacqui Maher,"6'2""",130,Jacqui Maher

Gah! We have two suspects, let's check `people_dataframe` and see if there's anyway we can decide! 

HINT: Look at the new columns added as a result of the merge and remember what we know about our suspect!

In [21]:
final_merged_dataframe = pd.merge(merged_suspect_dataframe, people_dataframe, left_on="Owner", right_on='name')
final_merged_dataframe.head()

,License Plate,Make,Color,Owner,Owner Height,Owner Weight (lbs.),names,name,gender,age,address
0,L3375A9,Honda,Blue,Jeremy Bowers,"6'1""",204,Jeremy Bowers,Jeremy Bowers,M,34,"Dunstable Road, line 284"
1,L337WR9,Honda,Blue,Jacqui Maher,"6'2""",130,Jacqui Maher,Jacqui Maher,F,40,"Andover Road, line 224"

HINT: Look at the new columns added as a result of the merge and remember what we know about our suspect! Pay close attention to the `gender` column!

Now that we have our final suspect, let's see if it's correct!

In [24]:
from helper_functions.check_name import check_name

check_name('Jeremy Bowers')

Congrats! You have officially solved the crime at the Pandas Express! Thanks for participating!
And now that you've completed your ML software development onramp, tell the world that you're ready to begin your journey!

---------------------------------------- Post Template 1 (MLE) ----------------------------------------------------
I just completed the #ml software development onramp from @FourthBrain and solved a #whodunit mystery!
Now I'm ready to take my #ml career to the next level with an industry-standard tool stack, including the Unix Command Line, Git, Conda, Pip, and of course, Jupyter Notebooks!
#machinelearningengineering #mle #buildinpublic
---------------------------------------------------------------------------------------------------------------------



---------------------------------------- Post Template 2 (MLOps) ----------------------------------------------------
I just completed the #ml software development onramp from @FourthBrain and solved a #whodunit mystery!
Now Iâ€™m ready to take my #ml career to the next level with an industry-standard tool stack including the Unix Command Line, Git, Conda, Pip, and Jupyter Notebooks, optimized for agile development in VSCode.
#machinelearningoperations #mlops #buildinpublic
---------------------------------------------------------------------------------------------------------------------


As a bonus - Please checkout the main branch and execute this command in your command line: `git cat-file -p cefafaedfff0fc1e3495252571f48bf7b0d93673`